@mixin font($font, $style: normal, $weight: normal) {
    font-family: $font;
    font-style:  $style;
    font-weight: $weight;
}

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  } //before, after
  &:after {
    clear: both;
  } //after
} //clearfix

@mixin randomTopBottom {
	@if $boolean == 1{
		bottom: 0;
	} else {
		top: 0;
	}
}
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin nav-vertical-align {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin box-sizing($box-model: $default-box-sizing) {
	@if type-of($box-model) == string {
		$box-model: unquote($box-model);
	}
	@include prefixed-properties(css3-boxsizing, $box-sizing-support-threshold, (box-sizing: $box-model));
}

@mixin list-link-icon{
	display: inline-block;
	height: 14px;
	width: 14px;
	background: url('images/list-link-icon.png') 0 0 no-repeat transparent;
	margin-right: 2px;
    position: relative;
    top: 2px;
}