#timeline{
	footer{
		.elements{
			display: block;
			.element{
				display: inline-block;
			}
		}
	}
}
footer{
	color: $lighter-text;
	height: 75px;
	margin: -16px auto 0 auto;
	background: $pageBackground;
	.layout{
		max-width: $max-width;
		margin: -16px auto 0 auto;
		.elements{
			@include display-flex(inline-flex);
			@include justify-content(center);
			width: 100%;
			padding-top: 45px;
			.element{
				font-size: 12px;
				border-right: 1px solid $lighter-text;
				padding-right: 2%;
				margin-left: 2%;
				height: 15px;
				line-height: 17px;
				&.last{
					border: 0;
				}
			}
		}
	}
}

// RESPONSIVE LAYOUT --------------------------------------------------------------

footer{
	@include breakpoint(($mobile-portrait)){
		height: 60px;
		.layout .elements{
			padding-top: 30px;
			.element{
				height: auto !important;
				&.address{
					display: none;
				}
			}
		}
	}
	@include breakpoint(($mobile-landscape)){
		height: 40px;
		.layout .elements{
			padding-top: 20px;
			.element{
				height: auto !important;
				&.address{
					display: none;
				}
			}
		}
	}
	@include breakpoint(($tablet)){  //tablet
		height: 110px;
		.elements{
			.element{
				height: auto !important;
				&.address{
					display: none;
				}
			}
		}
	}
	@include breakpoint($desktop){
		.elements{
			.element{
				font-size: .8vw;
			}
		}
	}

}