body #wrapper #gallery.page{
	padding: 0;
}
table#taxonomy{
	width: 100%;
}
// in the lightbox
#cboxLoadedContent{
	.field-name-field-gallery-image{
		img{
			height: auto !important;
		}
	}
}
.view-gallery{
	.action-info {
		color:$primary-text;
		background: $hover-orange;
		padding: 10px;
		border: 1px solid $orange;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		@include border-radius(5px);
	}
	.view-content{
		@include clearfix;
		//margin-left: calc((100% - 840px + 20px) / 2);
		//width: 100%;
		margin: 0 auto;
		.masonry-item{
			//float: left;
			background: $light;
			border-radius: 0;
			box-shadow: 2px 2px 2px #eaeaea;
			font-size: 12px;
			padding: 0;
			margin: 20px 20px 0 0;
			width: 375px;
			float: left;
			overflow: hidden;
			img{
				height: auto !important;
			}
			.views-field-body{
				padding: 0 20px 40px;
			}
			.views-field-title{
				font-weight: normal;
				font-size: 2em;
				line-height: 150%;
				font-family: $font-greybody-text;
				padding: 5% 5% 5%;
			}
			.views-field-field-city{
				margin-left: 20px;
				color: lighten($primary-text, 20);
				font-size: .9em;
				position: relative;
				top: -30px;
			}
			.views-field-field-state-province{
				color: lighten($primary-text, 20);
				font-size: .9em;
				position: relative;
				top: -30px;
				left: -2px;
				&:before{
					content: ", ";
				}
			}
			.views-field-field-country{
				color: lighten($primary-text, 20);
				font-size: .9em;
				position: relative;
				top: -30px;
				&:before {
					content: " - ";
				}
			}
		}
		.views-field-field-gallery-audio{
			audio{
				margin: 10% 5% 0px;
				width: 90%;
			}
		}
		.views-field-field-gallery-video {
			
		}
	}
}
		//////////////////////////
		////	filter stuff /////
		//////////////////////////
#filter-intro {
	font-size: 0.75em;
	font-weight: bold;
	color: $primary-text;
	margin-bottom: 10px;
}
.view-gallery{
	margin-top: 20px;
	position: relative;
	left: 10px;
	.view-filters{
		margin: 0 auto;
		position: relative;
		form .views-exposed-form{
			width: 100%;
			float: none;
		}
	}
	#alumn-upload-image {
		float: left;
		background: #fff !important;
		box-shadow: none;
		.masonry-item {
			background: #fff !important;
		}
	}
}

		//////////////////////////////
		////	end filter stuff /////
		//////////////////////////////
		
/************************************************************************************
//				 RESPONSIVE GALLERY LAYOUT 
************************************************************************************/
.view-gallery{
	@include breakpoint(($mini)){
		.view-filters{
			width: 100%;
			padding: 0 44px;
			left: -8px;
			margin-top: 80px;
			.views-exposed-form .views-exposed-widget.views-upload-story{
				float: left;
			}
		}
		.view-content{
			.masonry-item{
				
			}
		}		
	}
	@include breakpoint(($mobile-portrait)){
		.view-filters{
			width: 100%;
			padding: 0 44px;
			left: -8px;
		}
		.view-content{
			.masonry-item{
				
			}
		}		
	}
	@include breakpoint(($mobile-landscape)){
		.view-filters{
			width: 380px;
			left: -10px;
		}
		.view-content{
			.masonry-item{
				
			}
		}		
	}
	@include breakpoint(($tablet)){  //tablet
		.view-filters{
			width: 770px;
			left: -10px;
		}
		.view-content{
			.masonry-item{
				&.views-row-odd{
					margin-right: 0 !important;
				}
			}
		}		
	}
	@include breakpoint($desktop){
		.view-filters{
			width: 775px;
			left: -10px;
			position: relative;
		}
		.view-content{
			.masonry-item{
				
			}
		}		
	}
	@include breakpoint($superdesktop){
		.view-filters{
			width: 98%;
			left: -8px;
		}
		.view-content{
			.masonry-item{
				//width: 30%;
			}
		}		
	}
	@include breakpoint($blowout){
		.view-content{
			.masonry-item{
				//width: 30%;
			}
		}		
	}
}
/************************************************************************************
//				END RESPONSIVE GALLERY LAYOUT 
************************************************************************************/