.view-gallery{
	.action-info {
		color:$primary-text;
		background: $hover-orange;
		padding: 10px;
		border: 1px solid $orange;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		@include border-radius(5px);
	}
	.view-content{
		@include clearfix;
		//margin-left: calc((100% - 840px + 20px) / 2);
		//width: 100%;
		margin: 0 auto;
		.masonry-item{
			//float: left;
			background: $light;
			border-radius: 0;
			box-shadow: 2px 2px 2px #eaeaea;
			font-size: 12px;
			padding: 0;
			margin: 20px 20px 0 0;
			width: 375px;
			float: left;
			overflow: hidden;
			img{
				height: auto !important;
			}
			.views-field-body{
				padding: 0 20px 40px;
			}
			.views-field-title{
				font-weight: normal;
				font-size: 2em;
				line-height: 150%;
				font-family: $font-greybody-text;
				padding: 5% 5% 5%;
			}
		}
		.views-field-field-gallery-audio{
			audio{
				margin: 10% 5% 0px;
				width: 90%;
			}
		}
		.views-field-field-gallery-video {
			
		}
	}
}
		//////////////////////////
		////	filter stuff /////
		//////////////////////////
#filter-intro {
	font-size: .85em;
	font-weight: bold;
}
.view-gallery{
	margin-top: 20px;
	.view-filters{
		form .views-exposed-form{
			width: 100%;
			float: none;
		}
	}
	#alumn-upload-image {
		float: left;
	}
}

		//////////////////////////////
		////	end filter stuff /////
		//////////////////////////////
		
/************************************************************************************
//				 RESPONSIVE GALLERY LAYOUT 
************************************************************************************/
.view-gallery{
	@include breakpoint(($mobile-portrait)){
		.view-content{
			.masonry-item{
				//width: 100%;
			}
		}		
	}
	@include breakpoint(($mobile-landscape)){
		.view-content{
			.masonry-item{
				//width: 45%;
			}
		}		
	}
	@include breakpoint(($tablet)){  //tablet
		.view-content{
			.masonry-item{
				//width: 45%;
			}
		}		
	}
	@include breakpoint($desktop){
		.view-content{
			.masonry-item{
				//width: 30%;
			}
		}		
	}
	@include breakpoint($superdesktop){
		.view-content{
			.masonry-item{
				//width: 30%;
			}
		}		
	}
	@include breakpoint($blowout){
		.view-content{
			.masonry-item{
				//width: 30%;
			}
		}		
	}
}
/************************************************************************************
//				END RESPONSIVE GALLERY LAYOUT 
************************************************************************************/