#greyheadbar{
	background: $grey;
	@include clearfix;
	>div, >section{height: $greybarheight;padding: 0;display: table;}
	section {
		div {
			display: table-cell;
		}
		#logo150{
			width: 5%;
			max-width: 55px;
			min-width: 45px;
			img {
				margin-top: 5px;
			}
		}
		#titlebox{
			font-family: $font-banner-text;
			color: $blue;
			width: 76%;
			text-align: center;
			position: relative;
			height: ($greybarheight)-30px;
			margin-left: 3%;
			vertical-align: middle;
			//@include vertical-align;
			div {
				text-align: center;
			    position: relative;
			    
			}
		}
		#logo-donate{
			@include transition(all 3s);
			height: $greybarheight;
			padding-left: 0;
			width: 18%;
			vertical-align: middle;
			#logo{
				//background: url('/css/images/site-logo.png') 0 0 no-repeat transparent;
				//max-width: 26px;
				width: 26px;
				float: left;
				margin-left: 0;
				margin-right: 10%;
				//@include vertical-align;
			}
			#donate{
					width: 70%;
					max-width: 106px;
					min-width: 75px;
					position: relative;
					margin-top: 1%;
					display: inline-block;
					//height: $greybarheight;
				img{
					//@include vertical-align ;
				}
			}
		}
	}
}

// RESPONSIVE LAYOUT --------------------------------------------------------------
#greyheadbar{
	.layout{
		@include clearfix;
		display: table;
		padding: 0 $page-pad !important;
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		@include breakpoint(($mini)){
			// height: $greybarheight;
			#logo-donate{
				position: relative;
				width: 10%;
				#logo{
					margin: 0 auto;
					float: none;
					top: 40%;
				}
			}
			#titlebox {
				width: 75%;
				margin-top: -10px;
			}

		}
		@include breakpoint(($mobile-portrait)){
			// height: $greybarheight;
			#logo-donate{
				position: relative;
				width: 10%;
				#logo{
					margin: 0 auto;
					float: none;
					top: 40%;
				}
			}
			#titlebox {
				width: 80%;
				margin-top: -10px;
			}

		}
		@include breakpoint(($mobile-landscape)){
			//height: 110px;
			#logo-donate{
				position: relative;
				width: 10%;
				#logo{
					margin: 0 auto;
					float: none;
					top: 40%;
				}
				#donate{
					//@include span(2 of 12 first);
					img {}
				}
			}
			#titlebox {
				width: 85%;
			}
		}
		@include breakpoint(($tablet)){  //tablet
			#logo-donate{
				width: 21%;
			}
			#greyheaderbar {
				height: 130px;
			}
		}
		@include breakpoint($desktop){
			#logo-donate{
				padding: 0;
			}
		}
		@include breakpoint($superdesktop){
			#logo-donate{
				width: 15%;
				#logo{
				}
				#donate{
					//@include span(2 of 12 first);
					img {}
				}
			}
			#titlebox {
				width: 80%;
			}
		}
		@include breakpoint($blowout){

		}
	}
}
