#imagebanner{
	@include transition-duration(.75s);
	@include clearfix;
	position: relative;
	top: 0;
	margin:0 auto;
	max-height: 300px;
	img{
		min-width: 700px;
	}
	.bannertext{
		font-size: 40px;
		color: $light;
		font-family: $font-banner-text;
		@include text-shadow($dark 2px 2px 8px);
		line-height: 60px;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		top: 30%;
		position: absolute;
		left: 0;
		margin: 0;
		text-align: center;
		span {
			display: block;
		}
	}
}
// ---------------------------------------------------------------------------------------------------
// 								Repsonsive image banner 
// ---------------------------------------------------------------------------------------------------
#imagebanner{
	@include breakpoint($mini){
		margin: 88px auto 0;
		.layout{
			max-height: 200px;
		}
		.bannertext{
			top: 0;
		}
	}
	@include breakpoint($mobile-portrait){
		.layout{
			max-height: 200px;
		}
		.bannertext{
			font-size: 23px;
			line-height: 36px;
		}
	}
	@include breakpoint($mobile-landscape){
		.layout{
			max-height: 200px;
		}
		.bannertext{
			font-size: 26px;
			line-height: 40px;
		}
	}
	@include breakpoint($tablet){  //tablet
		.layout{
			max-height: 200px;
		}
		.bannertext{
			font-size: 40px;
			line-height: 52px;
		}
	}
	@include breakpoint($desktop){
		.bannertext{
			font-size: 40px;
			line-height: 60px;
		}
	}
	@include breakpoint($superdesktop){
		.bannertext{
			font-size: 50px;
			line-height: 60px;
		}
	}
	@include breakpoint($blowout){
		.bannertext{
			font-size: 50px;
			line-height: 60px;
		}
	}
}
// ---------------------------------------------------------------------------------------------------
// 								End Repsonsive image banner 
// ---------------------------------------------------------------------------------------------------