// --------------------------------------------------------------
// DYNAMIC TIMELINE
// --------------------------------------------------------------
$filter_height: 45px;
$slide-height: 800px;
$white_img_adjust_down: -8px;
$white_img_adjust_up: -20px;
$lgRandomizerHeight: 150;
$smRandomizerHeight: 80;
$date_location: 220px;
$lg_white_min: 25;
$lg_white_max:  $date_location - 20;
$lg_white_height0: random($lgRandomizerHeight) + 75px;
$lg_white_height1: random($lgRandomizerHeight) + 75px;
@if $lg_white_height0 == $lg_white_height1 {
	$lg_white_height1: random($lgRandomizerHeight - 75) + 75px;
}
$lg_white_height2: random($lgRandomizerHeight) + 25px;
@if $lg_white_height1 == $lg_white_height2 {
	$lg_white_height2: random($lgRandomizerHeight - 25) + 25px;
}
$lg_white_height3: random($lgRandomizerHeight) + 65px;
@if $lg_white_height2 == $lg_white_height3 {
	$lg_white_height3: random($lgRandomizerHeight - 65) + 65px;
}
$lg_white_height4: random($lgRandomizerHeight) + 35px;
@if $lg_white_height3 == $lg_white_height4 {
	$lg_white_height4: random($lgRandomizerHeight - 35) + 35px;
}
$lg_white_height5: random($lgRandomizerHeight) + 75px;
@if $lg_white_height4 == $lg_white_height5 {
	$lg_white_height5: random($lgRandomizerHeight - 75) + 75px;
}

$sm_white_height0: random($smRandomizerHeight) + 5px;
$sm_white_height1: random($smRandomizerHeight) + 15px;
@if $sm_white_height0 == $sm_white_height1 {
	$sm_white_height1: random($smRandomizerHeight) + 2px;
}
$sm_white_height2: random($smRandomizerHeight) + 8px;
@if $sm_white_height1 == $sm_white_height2 {
	$sm_white_height2: random($smRandomizerHeight) + 20px;
}
$sm_white_height3: random($smRandomizerHeight) + 0px;
@if $sm_white_height2 == $sm_white_height3 {
	$sm_white_height3: random($smRandomizerHeight) + 10px;
}
$sm_white_height4: random($smRandomizerHeight) + 5px;
@if $sm_white_height3 == $sm_white_height4 {
	$sm_white_height4: random($smRandomizerHeight) + 65px;
}
$sm_white_height5: random($smRandomizerHeight) + 15px;
@if $sm_white_height4 == $sm_white_height5 {
	$sm_white_height5: random($smRandomizerHeight) + 75px;
}
body #wrapper #timeline {
	padding: 0;
	.content{
		width: 99%;
		max-width: 100%;
	}
	.view-content{
		position: relative;
		margin-top: 100px;
		.owl-carousel{
			display: table;
			.owl-wrapper-outer {
				display: table-cell;
			}
			.owl-pagination{
				display: none;
			}
			.owl-controls{
				position: absolute;
				top: 45%;
				width: 100%;
				.owl-buttons{
					div{ //this makes a prev button in black
						/* color: #FFF;
						display: inline-block;
						margin: 5px;
						padding: 28px 10px;
						font-size: 12px;
						border-radius: 30px;
						background: #000 none repeat scroll 0% 0%;
						opacity: 0.6; */
						
						 // this makes an arrows
						position: absolute;
						width: 0px;
						height: 0px;
						border-top: 60px solid transparent;
						border-bottom: 60px solid transparent;
						padding: 0;
						margin: 0;
						display: block;
						border-radius: 0;
						opacity: 0.7;
						background: transparent;
						text-indent: -2000px;
					}
					.owl-prev{
						left: 10px;
						border-right: 45px solid #fff;
					}
					.owl-next{
						right: 10px;
						border-left: 45px solid #fff;
					}
				}
			}
			.owl-wrapper{
				.owl-item{
					font-family: $font-greybody-text;
					padding: 20px 0;
					position: relative;
					//max-width: 140px;
					a, a:visited{
						color: $white;
					}
					.views-field-nothing,
					.views-field-nothing-1{
						width: 100%;
					}
					&.item-style0{
						background-color: $gallColor0;
						height: $slide-height;
						.views-field-field-timeline-media-image{
							position: absolute;
							top: $sm_white_height0 + 40px;
						}
						.views-field-nothing{
							position: absolute;
							top: $white_img_adjust_up;
							img {
								height: $sm_white_height0;
							}
						}
						.views-field-nothing-1{
							position: absolute;
							bottom: $white_img_adjust_down;
							img {
								height: $lg_white_height0;
							}
						}
					}
					&.item-style1{
						background-color: $gallColor1;
						height: $slide-height;
						.views-field-field-timeline-media-image{
							position: absolute;
							bottom: $sm_white_height1 + 30px;
						}
						.views-field-nothing{
							position: absolute;
							top: $white_img_adjust_up;
							img {
								height: $lg_white_height1;
							}
						}
						.views-field-nothing-1{
							position: absolute;
							bottom: $white_img_adjust_down;
							img {
								height: $sm_white_height1;
							}
						}
					}
					&.item-style2{
						background-color: $gallColor2;
						height: $slide-height;
						.views-field-field-timeline-media-image{
							position: absolute;
							top: $sm_white_height2 + 30px;
						}
						.views-field-nothing{
							position: absolute;
							top: $white_img_adjust_up;
							img {
								height: $sm_white_height2;
							}
						}
						.views-field-nothing-1{
							position: absolute;
							bottom: $white_img_adjust_down;
							img {
								height: $lg_white_height2;
							}
						}
					}
					&.item-style3{
						background-color: $gallColor3;
						height: $slide-height;
						.views-field-field-timeline-media-image{
							position: absolute;
							bottom: $sm_white_height3 + 30px;
						}
						.views-field-nothing{
							position: absolute;
							top: $white_img_adjust_up;
							img {
								height: $lg_white_height3;
							}
						}
						.views-field-nothing-1{
							position: absolute;
							bottom: $white_img_adjust_down;
							img {
								height: $sm_white_height3;
							}
						}
					}
					&.item-style4{
						background-color: $gallColor4;
						height: $slide-height;
						.views-field-field-timeline-media-image{
							position: absolute;
							top: $sm_white_height4 + 30px;
						}
						.views-field-nothing{
							position: absolute;
							top: $white_img_adjust_up;
							img {
								height: $sm_white_height4;
							}
						}
						.views-field-nothing-1{
							position: absolute;
							bottom: $white_img_adjust_down;
							img {
								height: $lg_white_height4;
							}
						}
					}
					&.item-style5{
						background-color: $gallColor5;
						height: $slide-height;
						.views-field-field-timeline-media-image{
							position: absolute;
							bottom: $sm_white_height5 + 30px;
						}
						.views-field-nothing{
							position: absolute;
							top: $white_img_adjust_up;
							img {
								height: $lg_white_height5;
							}
						}
						.views-field-nothing-1{
							position: absolute;
							bottom: $white_img_adjust_down;
							img {
								height: $sm_white_height5;
							}
						}
					}
					.views-field-field-timeline-dates{
						font-size: 2em;
						font-weight: bold;
						margin: 20px 0px;
						position: absolute;
						top: $date_location;
						left: 20px;
					}
					.views-field-body{
						padding: 0 10px;
						margin-top: 0;
						font-weight: normal;
						font-size: .8em;
						position: absolute;
						top: $date_location + 80px;
						max-height: 280px;
						overflow: hidden;
					}
					.views-field-field-timeline-media-image{
						width: 100%;
						img{
							height: auto !important;
							max-height: 100px;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

#timeline *, #timeline label, #timeline label.ui-state-hover, #timeline .ui-multiselect-checkboxes label{
	font-family: $font-greybody-text !important;
	div {
		font-family: $font-greybody-text !important;
	}
}
		//////////////////////////
		////	filter stuff /////
		//////////////////////////
.view-timeline{
	margin-top: 20px;
	.view-filters{
		position: relative;
		form{
			width: 773px;
			float: right;
		}
	}
}
body.page-timeline .view-filters{
	position: relative;
	top: -80px;
}
.page-timeline-details{
	footoer{
		margin-top: 0;
	}
}
.view-content{
	#timelinejs-timeline-page *,
	#timelinejs-timeline-page .text,
	#timelinejs-timeline-page .text *{
		font-family: $font-greybody-text !important;
	}
	#timelinejs-timeline-page{
		//overflow: visible !important;
		#storyjs-timeline{
			//overflow: visible !important;
			.vco-feature .vco-slider{
				//overflow: visible !important;
				.slider-container-mask{
					//@include clearfix;
					//height: auto !important;
					.slider-container{
						.slider-item-container{
							.slider-item{
								//@include clearfix;
								//display: block;
								//overflow: visible !important;
								.content-container{
									.media{
										.credit {
											text-align: left;
										}
									}
									.text{
										.container{
											position: relative;
											padding: 15px;
											.date {
												
											}
											.slide-tag{
												position: absolute;
												bottom: -10px;
												background: none;
												left: 0;
												ul {
													list-style-type: none;
													li {
														color: $primary-text;
														display: inline-block;
														margin-right: 3px;
														background: $light-grey;
														padding: 5px 10px;
														@include border-radius(10px);
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.vco-navigation {
				display: none;
			}
		}
	}
}
	
	.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-frame, .vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-image img {
		background-color: #FFF;
		border: none;
	}
		//////////////////////////////
		////	end filter stuff /////
		//////////////////////////////
		
		//////////////////////////////
		////	slideshow stuff  /////
		//////////////////////////////
		
		///////////////////////////////
		//// end slideshow stuff  /////
		///////////////////////////////
// RESPONSIVE LAYOUT DYNAMIC TIMELINE--------------------------------------------------------------
.page-timeline{
		@include breakpoint(($mobile-portrait)){
			.views-widget-filter-keys{
				width: 87% !important;
			}
		}
		@include breakpoint($mobile-landscape){
			.views-widget-filter-keys{
				width: 72% !important;
			}
		}
		@include breakpoint($tablet){
			.views-widget-filter-keys{
				width: 76% !important;
			}
		}
}
// --------------------------------------------------------------
// END DYNAMIC TIMELINE
// --------------------------------------------------------------

// --------------------------------------------------------------
// TIMELINE ADMIN FORM
// --------------------------------------------------------------
.logged-in {
	#timeline-date-node-form{
		width: 90%;
		margin: 20px auto;
		border: 1px solid $grey;
		padding: 40px;
		-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		text-align: left;
		.form-item {
			
			&.form-item-title{
				label{
					
				}
				input{
					width: 80%;
					height: 30px;
				}
			}
				
		}
		fieldset{
			//background: $light-grey;
			margin: 10px 0;
			.fieldset-title {
				&:hover{
					text-decoration: underline;
				}	
			}
		}
	}
	#node-admin-content{
		width: 90%;
		margin: 20px auto;
		border: 1px solid $grey;
		padding: 40px;
		-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		text-align: left;
		#edit-filters {
			border-bottom: 3px solid $hover_orange;
			padding-bottom: 20px;
			padding-left: 20px;
			margin-bottom: 20px;
			background: lighten($hover_orange, 20);
			legend{
				position: relative;
				top: -10px;
			}
		}
		table {
			width: 100%;
			th {
				border-bottom: 1px solid $blue;
				margin-bottom: 5px;
				img {
					width: auto;
				}
			}
			tr.even {
				background: #eee;
			}
			tr.odd {
				background: lighten(#EEE, 20);;
			}
		}
	}
}
// --------------------------------------------------------------
// END TIMELINE ADMIN FORM
// --------------------------------------------------------------
// RESPONSIVE LAYOUT --------------------------------------------------------------
body #wrapper .page#timeline{
	@include breakpoint($mini){
		.view-filters{
			top: -125px;
			width: 100%;
			form{
				width: 100%;
				.views-exposed-form {
					width: 100%;
				}
			}
		}
		.view-content{
			margin-top: 235px;
			.owl-carousel .owl-wrapper .owl-item{
				.views-field-field-timeline-media-image{
					position: relative;
					top: 30px !important;
					img{
						max-height: none;
					}
				}
				.views-field-field-timeline-dates{
					position: relative;
					margin-top: 40px;
					top: 0;
				}
				.views-field-body{
					position: relative;
					margin-top: 40px;
					top: 0;
				}
			}
			.views-field-nothing,
			.views-field-nothing-1{
				img {
					display: none;
				}
			}
		}
	}
	@include breakpoint($mobile-portrait){
		.view-filters{
			top: -175px;
			width: 100%;
			form{
				width: 100%;
				.views-exposed-form {
					width: 100%;
				}
			}
		}
		.view-content{
			margin-top: 200px;
			.owl-carousel .owl-wrapper .owl-item{
				.views-field-field-timeline-media-image{
					position: relative;
					top: 30px !important;
					img{
						max-height: none;
					}
				}
				.views-field-field-timeline-dates{
					position: relative;
					margin-top: 40px;
					top: 0;
				}
				.views-field-body{
					position: relative;
					margin-top: 40px;
					top: 0;
				}
			}
			.views-field-nothing,
			.views-field-nothing-1{
				img {
					display: none;
				}
			}
		}
	}
	@include breakpoint($mobile-landscape){
		.view-filters{
			top: -125px;
			width: 100%;
			form{
				width: 100%;
				.views-exposed-form {
					width: 100%;
				}
			}
		}
		.view-content{
			margin-top: 135px;
		}
	}
	@include breakpoint(($tablet)){
		.view-filters{
			top: -125px;
			width: 100%;
			form{
				width: 100%;
				.views-exposed-form {
					width: 100%;
				}
			}
		}
		.view-content{
			margin-top: 135px;
		}
	}
}

.page#timeline-detail{
	.layout{
		padding: 0;
		@include breakpoint(($mobile-portrait)){
			.para-head{
				@include transition-duration(1s);
				font-size: 28px;
				line-height: 32px;
			}
		}
		@include breakpoint(($mobile-landscape)){
			.para-head{
				@include transition-duration(1s);
				font-size: 30px;
				line-height: 34px;
			}
		}
		@include breakpoint(($tablet)){
			.para-head{
				@include transition-duration(1s);
				font-size: 32px;
				line-height: 36px;
			}
		}
	}
}