body #timeline {
	&.page {
		padding: 0;
		.content {
			text-align: center;
			width: 100%;
			max-width: 100%;
		}
		#page-title{
			@include transition-duration(1s);
			text-align: center;
		}
	}
	.story{
		margin:2% auto 2% auto;
		width: 70%;
		float: none;
		.left-col{
			width: 50%;
		}
		.right-col{
			border-bottom: none;
			padding-bottom: 2%;
			width: 50%
		}
	}
	#time-selector{
		@include clearfix;
		width: 185px;
		height: 60px;
		margin: 0 auto;
		background: url('/css/images/timeselector-btn.jpg') 0 0 no-repeat transparent;
		cursor: pointer;
		#time-span {
			padding-top: 15px;
			#time-units{
				height: 0px;
				overflow: hidden;
				border: 0;
				background: #fff;
				z-index: 1;
				position: relative;
				width: 125px;
				margin-left: 30px;
				@include border-bottom-left-radius(5px);
				@include border-bottom-right-radius(5px);
				li{
					&.last{
						@include border-bottom-left-radius(5px);
						@include border-bottom-right-radius(5px);
					}
					a {
						
					}
				}
			}
		}
	}
}
$story-width: 74%;
.page#timeline-detail{
	.para-head{
		@include transition-duration(1s);
		color: $lighter-text;
	}
	#story-image{
		width: $story-width;
		margin: 100px auto 40px auto;
	}
	.story{
		margin: 0 auto 0 auto;
		width: $story-width;
		#story-body{

		}
	}
	#title-nav{
		@include clearfix;
		#nav-left{
			float: left;
			width: 13%;
			text-align: left;
			img{
				width: 70%;
			}
		}
		#title-container{
			float: left;
			width: $story-width;
		}
		#nav-right{
			float: left;
			width: 13%;
			text-align: right;
			img{
				width: 70%;
			}
		}
	}
}
// --------------------------------------------------------------
// DYNAMIC TIMELINE
// --------------------------------------------------------------
$filter_height: 45px;
#timeline *, #timeline label, #timeline label.ui-state-hover, #timeline .ui-multiselect-checkboxes label{
	font-family: $font-greybody-text !important;
	div {
		font-family: $font-greybody-text !important;
	}
}
		//////////////////////////
		////	filter stuff /////
		//////////////////////////
.view-timeline{
	margin-top: 20px;
	.view-filters{
		form{
			width: 773px;
			float: right;
		}
	}
}

.view-content{
	#timelinejs-timeline-page{
		#storyjs-timeline{
			.vco-feature .vco-slider{
				.slider-container{
					.slider-item-container{
						.slider-item{
							.content-container{
								.media{
									
								}
								.text{
									.container{
										position: relative;
										padding: 15px;
										.date {
											
										}
										.slide-tag{
											position: absolute;
											bottom: -10px;
											background: none;
											left: 0;
											ul {
												list-style-type: none;
												li {
													color: $primary-text;
													display: inline-block;
													margin-right: 3px;
													background: $light-grey;
													padding: 5px 10px;
													@include border-radius(10px);
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.vco-navigation {
				.timenav-background {
					.timenav-tag {
						display: none;
					}
				}
			}
		}
	}
}
	
	.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-frame, .vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-image img {
		background-color: #FFF;
		border: none;
	}
		//////////////////////////////
		////	end filter stuff /////
		//////////////////////////////
		
		//////////////////////////////
		////	slideshow stuff  /////
		//////////////////////////////
		
		///////////////////////////////
		//// end slideshow stuff  /////
		///////////////////////////////
// RESPONSIVE LAYOUT DYNAMIC TIMELINE--------------------------------------------------------------
.page-timeline{
		@include breakpoint(($mobile-portrait)){
			.views-widget-filter-keys{
				width: 87% !important;
			}
		}
		@include breakpoint($mobile-landscape){
			.views-widget-filter-keys{
				width: 72% !important;
			}
		}
		@include breakpoint($tablet){
			.views-widget-filter-keys{
				width: 76% !important;
			}
		}
}
// --------------------------------------------------------------
// END DYNAMIC TIMELINE
// --------------------------------------------------------------

// --------------------------------------------------------------
// TIMELINE ADMIN FORM
// --------------------------------------------------------------
.logged-in {
	#timeline-date-node-form{
		width: 90%;
		margin: 20px auto;
		border: 1px solid $grey;
		padding: 40px;
		-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		text-align: left;
		.form-item {
			
			&.form-item-title{
				label{
					
				}
				input{
					width: 80%;
					height: 30px;
				}
			}
				
		}
		fieldset{
			//background: $light-grey;
			margin: 10px 0;
			.fieldset-title {
				&:hover{
					text-decoration: underline;
				}	
			}
		}
	}
	#node-admin-content{
		width: 90%;
		margin: 20px auto;
		border: 1px solid $grey;
		padding: 40px;
		-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		text-align: left;
		#edit-filters {
			border-bottom: 3px solid $hover_orange;
			padding-bottom: 20px;
			padding-left: 20px;
			margin-bottom: 20px;
			background: lighten($hover_orange, 20);
			legend{
				position: relative;
				top: -10px;
			}
		}
		table {
			width: 100%;
			th {
				border-bottom: 1px solid $blue;
				margin-bottom: 5px;
				img {
					width: auto;
				}
			}
			tr.even {
				background: #eee;
			}
			tr.odd {
				background: lighten(#EEE, 20);;
			}
		}
	}
}
// --------------------------------------------------------------
// END TIMELINE ADMIN FORM
// --------------------------------------------------------------
// RESPONSIVE LAYOUT --------------------------------------------------------------
.page#timeline{
	.layout{
		padding: 0;
		@include breakpoint(($mobile-portrait)){
			.story{
				width: 100%;
				.left-col{
					@include span(12 of 12);
				}
				.right-col{
					@include span(12 of 12);
					a {
					}
				}
			}
		}
		@include breakpoint(($mobile-landscape)){
			.story{
				width: 100%;
				.left-col{

				}
				.right-col{
					a {
					}
				}
			}
		}
		@include breakpoint(($tablet)){
			.story{
				width: 90%;
				.left-col{

				}
				.right-col{
					a {
					}
				}
			}
		}
	}
}

// RESPONSIVE LAYOUT --------------------------------------------------------------
.page#timeline-detail{
	.layout{
		padding: 0;
		@include breakpoint(($mobile-portrait)){
			.para-head{
				@include transition-duration(1s);
				font-size: 28px;
				line-height: 32px;
			}
		}
		@include breakpoint(($mobile-landscape)){
			.para-head{
				@include transition-duration(1s);
				font-size: 30px;
				line-height: 34px;
			}
		}
		@include breakpoint(($tablet)){
			.para-head{
				@include transition-duration(1s);
				font-size: 32px;
				line-height: 36px;
			}
		}
	}
}