#timeline {
	&.page {
		.content {
			text-align: center;
		}
		#page-title{
			@include transition-duration(1s);
			text-align: center;
		}
	}
	.story{
		margin:2% auto 2% auto;
		width: 70%;
		float: none;
		.left-col{
			width: 50%;
		}
		.right-col{
			border-bottom: none;
			padding-bottom: 2%;
			width: 50%
		}
	}
	#time-selector{
		@include clearfix;
		width: 185px;
		height: 60px;
		margin: 0 auto;
		background: url('/css/images/timeselector-btn.jpg') 0 0 no-repeat transparent;
		cursor: pointer;
		#time-span {
			padding-top: 15px;
			#time-units{
				height: 0px;
				overflow: hidden;
				border: 0;
				background: #fff;
				z-index: 1;
				position: relative;
				width: 125px;
				margin-left: 30px;
				@include border-bottom-left-radius(5px);
				@include border-bottom-right-radius(5px);
				li{
					&.last{
						@include border-bottom-left-radius(5px);
						@include border-bottom-right-radius(5px);
					}
					a {
						
					}
				}
			}
		}
	}
}
$story-width: 74%;
.page#timeline-detail{
	.para-head{
		@include transition-duration(1s);
		color: $lighter-text;
	}
	#story-image{
		width: $story-width;
		margin: 100px auto 40px auto;
	}
	.story{
		margin: 0 auto 0 auto;
		width: $story-width;
		#story-body{

		}
	}
	#title-nav{
		@include clearfix;
		#nav-left{
			float: left;
			width: 13%;
			text-align: left;
			img{
				width: 70%;
			}
		}
		#title-container{
			float: left;
			width: $story-width;
		}
		#nav-right{
			float: left;
			width: 13%;
			text-align: right;
			img{
				width: 70%;
			}
		}
	}
}

// DYNAMIC TIMELINE --------------------------------------------------------------
$filter_height: 40px;
.view-timeline{
	margin-top: 20px;
	.view-filters{
		form#views-exposed-form-timeline-page{
			float: right;
			width: 75%;
			.views-widget{
				button.ui-multiselect{
					font-family: $font-greybody-text;
					background: $blue;
					height: $filter_height;
					color: $light;
				}
			}
			.views-exposed-widget{
				padding-top: 0;
				margin-bottom: $filter_height/2;
			}
			.views-widget-filter-keys{ //search box
				width: 34%;
				position: relative;
				label{
					text-align: center;
					display: block;
					width: 100%;
					color: $watermark;
					position: absolute;
					font-family: $font-greybody-text;
					font-size: 25px;
					line-height: $filter_height + 3;
				}
				.views-widget{
					width: 100%;
					.form-item {
						width: 100%;
						input{
							width: 100%;
							height: $filter_height;
							font-size: 23px;
							color: $lighter-text;
							background-color: #fff;
							border: 1px solid $grey;
						}
					}
				}
			}
			.views-exposed-widget {
				margin-right: 1%;
				padding: 0;
				input{
					margin-top: 0;
					@include sassy-button("flat", 0, 19px, $grey, $grey, $primary-text, $font-greybody-text, false);
					padding: 8px 1.5em;
					//@include sassy-button(gradient style, border radius, font size, first color, second color, text color, text style, auto hover)
				}
			}
			.views-exposed-widget{ //the whole group
				height: $filter_height;
				color: $light;
			}
			.views-submit-button{
				margin: 0px 1% 10px 0%;
				input{}
			}
			.views-reset-button{
				input{}
			}
			.views-widget-filter-field_colleges_and_schools_tid{ // colleges and schools dropdwon: ;
				width: 200px;
				button{
					width: 200px !important;
				}
			}
			.views-widget-filter-field_tags_tid{ //tags dropdown
				
			}
		}
		#edit-field-tags-tid-wrapper label{
			display: none;
		}
		#edit-field-colleges-and-schools-tid-wrapper label{
			display: none;
		}
		.views-reset-button{
			
		}
	}
}
.ui-multiselect-menu.ui-widget {  //both dropdowns
	ul.ui-multiselect-checkboxes {
		li {
			label{
				input{

				}	
				span{
					background: none;
					color: $typeDefault;
					font-family: $font-greybody-text;
					font-weight: normal;
					font-size: 11px;					
				}
				&.ui-state-hover{
					background: none;
					color: $typeDefault;
					font-family: $font-greybody-text;
					border: 1px solid $lighter-text;
					font-weight: normal;
					input{
						-moz-appearance:none;
						-webkit-appearance:none;
						-o-appearance:none;
					} 
					span {
						color: $blue;
					}
				}
			}
		}
	}
}
// RESPONSIVE LAYOUT DYNAMIC TIMELINE--------------------------------------------------------------
.page-timeline{
		@include breakpoint(($mobile-portrait)){
			.views-widget-filter-keys{
				width: 87% !important;
			}
		}
		@include breakpoint($mobile-landscape){
			.views-widget-filter-keys{
				width: 72% !important;
			}
		}
		@include breakpoint($tablet){
			.views-widget-filter-keys{
				width: 76% !important;
			}
		}
}

// RESPONSIVE LAYOUT --------------------------------------------------------------
.page#timeline{
	.layout{
		padding: 0;
		@include breakpoint(($mobile-portrait)){
			.story{
				width: 100%;
				.left-col{
					@include span(12 of 12);
				}
				.right-col{
					@include span(12 of 12);
					a {
					}
				}
			}
		}
		@include breakpoint(($mobile-landscape)){
			.story{
				width: 100%;
				.left-col{

				}
				.right-col{
					a {
					}
				}
			}
		}
		@include breakpoint(($tablet)){
			.story{
				width: 90%;
				.left-col{

				}
				.right-col{
					a {
					}
				}
			}
		}
	}
}

// RESPONSIVE LAYOUT --------------------------------------------------------------
.page#timeline-detail{
	.layout{
		padding: 0;
		@include breakpoint(($mobile-portrait)){
			.para-head{
				@include transition-duration(1s);
				font-size: 28px;
				line-height: 32px;
			}
		}
		@include breakpoint(($mobile-landscape)){
			.para-head{
				@include transition-duration(1s);
				font-size: 30px;
				line-height: 34px;
			}
		}
		@include breakpoint(($tablet)){
			.para-head{
				@include transition-duration(1s);
				font-size: 32px;
				line-height: 36px;
			}
		}
	}
}