@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Museo300";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/webfonts/Museo300.eot");
  src: url("/fonts/webfonts/Museo300.eot?") format("eot"), url("/fonts/webfonts/Museo300.woff") format("woff"), url("/fonts/webfonts/Museo300.ttf") format("truetype"); }
@font-face {
  font-family: "Museo-500";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/webfonts/Museo-500.eot");
  src: url("/fonts/webfonts/Museo-500.eot?") format("eot"), url("/fonts/webfonts/Museo-500.woff") format("woff"), url("/fonts/webfonts/Museo-500.ttf") format("truetype"); }
@font-face {
  font-family: "MuseoSans300";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/webfonts/MuseoSans300.eot");
  src: url("/fonts/webfonts/MuseoSans300.eot?") format("eot"), url("/fonts/webfonts/MuseoSans300.woff") format("woff"), url("/fonts/webfonts/MuseoSans300.ttf") format("truetype"); }
@font-face {
  font-family: "MuseoSans300Italic";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/webfonts/MuseoSans300Italic.eot");
  src: url("/fonts/webfonts/MuseoSans300Italic.eot?") format("eot"), url("/fonts/webfonts/MuseoSans300Italic.woff") format("woff"), url("/fonts/webfonts/MuseoSans300Italic.ttf") format("truetype"); }
@font-face {
  font-family: "MuseoSans500";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/webfonts/MuseoSans500.eot");
  src: url("/fonts/webfonts/MuseoSans500.eot?") format("eot"), url("/fonts/webfonts/MuseoSans500.woff") format("woff"), url("/fonts/webfonts/MuseoSans500.ttf") format("truetype"); }
@font-face {
  font-family: "MuseoSans500Italic";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/webfonts/MuseoSans500Italic.eot");
  src: url("/fonts/webfonts/MuseoSans500Italic.eot?") format("eot"), url("/fonts/webfonts/MuseoSans500Italic.woff") format("woff"), url("/fonts/webfonts/MuseoSans500Italic.ttf") format("truetype"); }
@font-face {
  font-family: "MuseoSlab700";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/webfonts/MuseoSlab700.eot");
  src: url("/fonts/webfonts/MuseoSlab700.eot?") format("eot"), url("/fonts/webfonts/MuseoSlab700.woff") format("woff"), url("/fonts/webfonts/MuseoSlab700.ttf") format("truetype"); }
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

head:before {
  content: none !important; }

body {
  font-family: MuseoSans300, serif;
  color: #333333;
  font-size: 16px;
  line-height: 160%;
  margin: 0 auto;
  overflow-x: hidden;
  background: #ffffff; }

body main#container {
  z-index: 0; }

body main#container .page {
  z-index: 0; }

body .page {
  position: relative; }
  body .page:before, body .page:after {
    content: '';
    display: table; }
  body .page:after {
    clear: both; }

body #wrapper {
  position: relative;
  z-index: 10;
  top: -8px;
  left: 0;
  overflow: hidden; }

body .content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

body a, body a:visited {
  color: #004c87;
  text-decoration: none; }

.page {
  background: #ffffff; }

#sticky-wrapper {
  height: 0 !important; }

img {
  width: 100%; }

#page-title {
  color: #e84b38; }

h1 {
  font-family: Museo-500, serif;
  font-size: 35px;
  margin: 40px 0;
  line-height: 39px; }

h2 {
  font-family: Museo-500, serif;
  font-size: 23px;
  margin: 0 0 20px 0; }

h3, h4, h5 {
  font-family: Museo-500, serif;
  font-size: 18px; }

#title-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  #title-container:before, #title-container:after {
    content: '';
    display: table; }
  #title-container:after {
    clear: both; }
  #title-container #page-title {
    position: relative;
    left: -5px; }

.list-links li a .icon {
  display: inline-block;
  height: 14px;
  width: 14px;
  background: url("images/list-link-icon.png") 0 0 no-repeat transparent;
  margin-right: 2px;
  position: relative;
  top: 2px; }

#greyheadbar {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 11; }
  #greyheadbar:before, #greyheadbar:after {
    content: '';
    display: table; }
  #greyheadbar:after {
    clear: both; }

nav {
  width: 100%;
  position: relative;
  z-index: 12;
  display: inline-block; }
  nav:before, nav:after {
    content: '';
    display: table; }
  nav:after {
    clear: both; }

nav.home {
  top: 0; }

.left-col {
  float: left;
  width: 30%; }
  .left-col img {
    width: 80%; }

.right-col {
  float: left;
  width: 70%;
  text-align: left; }
  .right-col .for-mobile {
    display: none; }

body #wrapper .page {
  margin: -15px auto 0 auto;
  padding: 0 5%; }
  body #wrapper .page .layout {
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6%; }
    body #wrapper .page .layout:after {
      content: " ";
      display: block;
      clear: both; }
    @media (min-width: 0px) and (max-width: 700px) {
      body #wrapper .page .layout {
        width: 100%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%; }
        body #wrapper .page .layout .left-col {
          width: 100%;
          float: left;
          padding-left: 0.83333%;
          padding-right: 0.83333%; }
          body #wrapper .page .layout .left-col.for-desktop {
            display: none; }
        body #wrapper .page .layout .right-col {
          width: 100%;
          float: right;
          padding-left: 0.83333%;
          padding-right: 0.83333%; }
          body #wrapper .page .layout .right-col .for-mobile {
            display: block;
            width: 30%;
            float: left;
            margin-right: 5%; } }

#imagebanner .layout {
  padding: 0; }

#home.page .layout {
  padding: 0; }

nav {
  font-family: MuseoSans500, serif;
  background: #15284a; }
  nav .layout {
    padding: 0 5%;
    max-width: 1200px;
    margin: 0 auto; }
    nav .layout #mobile-nav-logo {
      float: left;
      left: -20px;
      margin-left: 10px;
      margin-top: 14px;
      position: relative;
      width: 55px;
      display: none; }
      nav .layout #mobile-nav-logo a {
        display: block;
        width: 55px;
        height: 76px; }
      nav .layout #mobile-nav-logo img {
        width: 100%; }
    nav .layout .navlist {
      display: -webkit-flex;
      display: flex;
      padding: 0;
      height: auto;
      -webkit-justify-content: space-around;
      justify-content: space-around; }
      nav .layout .navlist .nav-item {
        height: 140px;
        display: inline-block; }
        nav .layout .navlist .nav-item a {
          position: relative;
          top: 40%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          color: #e8e9ea;
          text-decoration: none;
          font-size: 2vw; }
          nav .layout .navlist .nav-item a:hover {
            text-decoration: underline; }
    nav .layout .logo-item {
      position: relative;
      top: -33px;
      width: 165px;
      height: 1px;
      cursor: pointer; }
      nav .layout .logo-item #nav-logo {
        width: 165px;
        height: 204px;
        background: url("/css/images/nav-logo.png") 0 0 no-repeat transparent;
        position: absolute; }
        nav .layout .logo-item #nav-logo a {
          display: block;
          height: 165px;
          width: 204px; }
      nav .layout .logo-item:before, nav .layout .logo-item:after {
        content: '';
        display: table; }
      nav .layout .logo-item:after {
        clear: both; }

.mobile-icon {
  height: 50px;
  background: transparent !important; }
  .mobile-icon button {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 0;
    background: url("/css/images/mobile-menu-icon.png") no-repeat 0 0 transparent;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none; }
    .mobile-icon button:focus {
      outline: none; }

.slide-menu .mobile-icon {
  display: block; }
  .slide-menu .mobile-icon .close-menu {
    background: url("/css/images/mobile-menu-icon-close.png") no-repeat 0 0 transparent; }

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%; }

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
nav.slide-menu {
  position: fixed;
  z-index: 20;
  background-color: #15284a;
  overflow: hidden;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  padding: 0;
  left: 0;
  width: 100%; }
  nav.slide-menu #mobile-nav-logo {
    width: 55px;
    margin-left: 10px;
    margin-top: 5px; }
    nav.slide-menu #mobile-nav-logo img {
      width: 100%; }
  nav.slide-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav.slide-menu ul li {
      background: #2d3f5f;
      margin: 0;
      vertical-align: middle;
      text-align: left;
      border-bottom: 1px solid; }
      nav.slide-menu ul li a {
        display: block;
        font-weight: 300;
        color: #fff;
        line-height: 25px;
        padding: 2px 13px;
        font-size: 18px; }
      nav.slide-menu ul li.mobile-icon {
        height: 0;
        border-bottom: none; }
nav.push-menu-top {
  top: 75px;
  height: 88px;
  position: absolute; }
nav.slide-menu-bottom {
  bottom: -190px;
  height: 270px; }
nav.slide-menu-bottom button.close-menu, nav.push-menu-top button.close-menu {
  display: none;
  line-height: 25px;
  margin: 0;
  padding: 0 10px; }

body.pmt-open nav.push-menu-top {
  top: 75px; }

body.smb-open nav.slide-menu-bottom {
  bottom: 0; }

body.pmt-open nav.push-menu-top {
  height: 270px; }
body.pmt-open #wrapper {
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  top: 160px; }
body.pmt-open button.toggle-push-top {
  display: none; }
body.pmt-open button.close-menu {
  display: block !important; }

@media (min-width: 0px) and (max-width: 530px) {
  nav.navbar {
    display: none; } }

@media (min-width: 0px) and (max-width: 530px) {
  nav.navbar .layout .navlist {
    display: inline-block;
    float: right;
    height: 100px;
    line-height: 18px;
    bottom: 10px;
    position: none;
    transform: none;
    width: 100%; }
    nav.navbar .layout .navlist .nav-item {
      width: 100%;
      float: none;
      height: 0;
      visibility: hidden; }
    nav.navbar .layout .navlist .mobile-icon {
      display: block;
      width: 40px;
      height: 40px;
      visibility: visible; }
    nav.navbar .layout .navlist .nav-item.logo-item {
      visibility: none; }
    nav.navbar .layout .navlist .nav-item.mobile-icon {
      display: block; } }
@media (min-width: 530px) and (max-width: 700px) {
  nav.navbar {
    height: 78px; }
    nav.navbar #mobile-nav-logo {
      display: block;
      margin-top: 2px; }
    nav.navbar .navlist .nav-item {
      height: 78px; }
      nav.navbar .navlist .nav-item.logo-item {
        display: none; }
      nav.navbar .navlist .nav-item a {
        font-size: 2.25vw; } }
@media (min-width: 700px) and (max-width: 800px) {
  nav.navbar body.slide-menu {
    display: none; }
  nav.navbar .navlist .nav-item a {
    font-size: 2vw; } }
@media (min-width: 800px) and (max-width: 1200px) {
  nav.navbar .navlist .nav-item a {
    font-size: 1.75vw; } }
@media (min-width: 1200px) {
  nav.navbar .navlist .nav-item a {
    font-size: 20px; } }

@media (min-width: 530px) and (max-width: 700px) {
  .slide-menu {
    display: none; } }
@media (min-width: 700px) and (max-width: 800px) {
  .slide-menu {
    display: none; } }
@media (min-width: 800px) and (max-width: 1200px) {
  .slide-menu {
    display: none; } }
@media (min-width: 1200px) {
  .slide-menu {
    display: none; } }

#home:before, #home:after {
  content: '';
  display: table; }
#home:after {
  clear: both; }
#home .content {
  display: table;
  text-align: center; }
  #home .content .caption {
    font-size: 86px !important;
    color: #e8e9ea;
    position: absolute;
    font-family: Museo-500, serif;
    text-shadow: #000000 2px 2px 8px;
    margin: -30% 0 0;
    line-height: 65px;
    vertical-align: middle;
    text-align: center;
    width: 100%; }
  #home .content .gallery {
    display: block;
    max-width: 100% !important; }
    #home .content .gallery li {
      display: block;
      width: 100%; }
      #home .content .gallery li img {
        min-width: 870px;
        padding: 0;
        position: relative; }
  #home .content .centered-btns_nav {
    margin-top: 0;
    left: auto;
    top: 10px; }
  #home .content .centered-btns_nav.prev {
    right: 43px; }

#home .layout {
  padding: 0 !important; }
  @media (min-width: 0px) and (max-width: 530px) {
    #home .layout {
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; }
      #home .layout .gallery .caption {
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-size: 46px;
        width: 348px;
        margin-left: 10px;
        margin-top: -45%; }
      #home .layout .gallery img {
        left: -25%; } }
  @media (min-width: 530px) and (max-width: 700px) {
    #home .layout {
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; }
      head {
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 999;
        color: #333;
        background: rgba(255, 255, 255, 0.25); }
      head:before {
        content: "|||";
        display: block;
        padding: 5px 10px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: bold; }
      head:hover {
        background: rgba(255, 255, 255, 0.5);
        color: red; }
      head:hover ~ #home .layout, head:hover ~ body #home .layout {
        position: relative; }
        head:hover ~ #home .layout:before, head:hover ~ body #home .layout:before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: " ";
          z-index: 998; }
      #home .layout .gallery .caption {
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-size: 52px;
        width: 670px;
        margin-top: -38%; }
      #home .layout .gallery img {
        left: -15%; } }
  @media (min-width: 700px) and (max-width: 800px) {
    #home .layout {
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; }
      #home .layout .gallery .caption {
        margin-top: -30%; } }

/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

.gallery h1 {
  font: 600 28px/36px sans-serif; }

.gallery h3 {
  font: 600 18px/24px sans-serif;
  color: #999;
  margin: 0 0 20px; }

.gallery a {
  color: #222; }

.rslides {
  margin: 0 auto; }

.rslides_container {
  position: relative;
  float: left;
  width: 100%; }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px; }

.centered-btns_nav:active {
  opacity: 1.0; }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0; }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  left: 0;
  display: block;
  background: #ffffff;
  /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%; }

.transparent-btns_nav.next {
  left: auto;
  right: 0; }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("images/themes.gif") no-repeat left 50%;
  width: 38px; }

.large-btns_nav:active {
  opacity: 1.0; }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0; }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none; }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center; }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px; }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: 9px;
  height: 9px; }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8); }

#greyheadbar {
  background: #c6c8ca; }
  #greyheadbar:before, #greyheadbar:after {
    content: '';
    display: table; }
  #greyheadbar:after {
    clear: both; }
  #greyheadbar > div, #greyheadbar > section {
    height: 75px;
    padding: 0; }
  #greyheadbar section #logo-donate {
    height: 75px;
    padding-left: 0;
    width: 30%; }
    #greyheadbar section #logo-donate #logo {
      background: url("/css/images/site-logo.png") 0 0 no-repeat transparent;
      height: 34px;
      width: 26px;
      float: left;
      margin-left: 0;
      margin-right: 5%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    #greyheadbar section #logo-donate #donate {
      width: 55%;
      float: left;
      height: 75px; }
      #greyheadbar section #logo-donate #donate img {
        width: 106px;
        max-width: 106px;
        min-width: 75px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  #greyheadbar #countdown {
    width: 300px;
    height: 15px;
    margin: 0 auto;
    -webkit-justify-content: center;
    justify-content: center; }
    #greyheadbar #countdown #Stage_jbeeb_3 {
      top: -50px !important; }
  #greyheadbar #searchbox {
    float: right;
    height: 25px;
    margin-top: 10px;
    right: -25px;
    width: 180px; }
    #greyheadbar #searchbox #___gcse_0 {
      height: 25px; }
    #greyheadbar #searchbox .gsc-control-cse {
      padding: 0 !important;
      border: none; }
      #greyheadbar #searchbox .gsc-control-cse form.gsc-search-box {
        font-size: 13px;
        margin: 0;
        max-width: 178px;
        position: absolute;
        width: 100%; }
    #greyheadbar #searchbox .gsc-search-box .gsib_a {
      padding: 0; }
    #greyheadbar #searchbox .gsc-search-button input.gsc-search-button-v2 {
      padding: 6px 5px !important;
      width: 25px !important;
      position: relative  !important;
      left: -3px  !important;
      height: 25px !important;
      top: 3px; }
    #greyheadbar #searchbox .gsc-search-box-tools .gsc-search-box .gsc-input {
      padding-right: 0 !important; }

#greyheadbar .layout {
  height: auto;
  padding: 0 5% !important;
  max-width: 1200px;
  margin: 0 auto; }
  #greyheadbar .layout:before, #greyheadbar .layout:after {
    content: '';
    display: table; }
  #greyheadbar .layout:after {
    clear: both; }
  @media (min-width: 0px) and (max-width: 530px) {
    #greyheadbar .layout {
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      height: 135px; }
      #greyheadbar .layout #countdown {
        position: relative; }
        #greyheadbar .layout #countdown #Stage_jbeeb_3 {
          top: 0px !important; }
      #greyheadbar .layout #searchbox {
        width: 50%;
        float: right;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        margin-top: -70px;
        right: 0; } }
  @media (min-width: 530px) and (max-width: 700px) {
    #greyheadbar .layout {
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      height: 110px; }
      #greyheadbar .layout #logo-donate {
        width: 50%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        position: relative; }
        #greyheadbar .layout #logo-donate #logo {
          margin-right: 10px;
          right: 0; }
      #greyheadbar .layout #countdown {
        width: 83.33333%;
        float: right;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        position: relative;
        height: auto;
        top: -20px; }
        #greyheadbar .layout #countdown #Stage_jbeeb_3 {
          top: 0px !important; }
      #greyheadbar .layout #searchbox {
        position: absolute !important;
        right: 30px !important;
        top: 10px !important; }
      #greyheadbar .layout #greyheaderbay {
        height: 130px; } }
  @media (min-width: 700px) and (max-width: 800px) {
    #greyheadbar .layout {
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; }
      #greyheadbar .layout #logo-donate {
        width: 25%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%; }
      #greyheadbar .layout #greyheaderbay {
        height: 130px; } }
  @media (min-width: 800px) and (max-width: 1200px) {
    #greyheadbar .layout #logo-donate {
      width: 25%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      padding: 0; }
    #greyheadbar .layout #searchbox {
      margin-top: 5px; } }
  @media (min-width: 1200px) and (max-width: 1600px) {
    #greyheadbar .layout #searchbox {
      margin-top: -65px; } }
  @media (min-width: 1600px) and (max-width: 3200px) {
    #greyheadbar .layout #searchbox {
      margin-top: -65px; } }

#imagebanner {
  position: relative;
  top: 0;
  margin: 0 auto;
  max-height: 300px;
  text-align: center; }
  #imagebanner:before, #imagebanner:after {
    content: '';
    display: table; }
  #imagebanner:after {
    clear: both; }
  #imagebanner img {
    min-width: 700px; }
  #imagebanner .bannertext {
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -moz-transform: translateY(-160%);
    -ms-transform: translateY(-160%);
    -webkit-transform: translateY(-160%);
    transform: translateY(-160%);
    font-size: 40px;
    color: #e8e9ea;
    font-family: Museo-500, serif;
    text-shadow: #000000 2px 2px 8px;
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: auto; }

@media (min-width: 0px) and (max-width: 530px) {
  #imagebanner .layout {
    max-height: 200px; }
  #imagebanner .bannertext {
    font-size: 23px;
    line-height: 36px;
    -moz-transform: translateY(-114%);
    -ms-transform: translateY(-114%);
    -webkit-transform: translateY(-114%);
    transform: translateY(-114%); } }
@media (min-width: 530px) and (max-width: 700px) {
  #imagebanner .layout {
    max-height: 200px; }
  #imagebanner .bannertext {
    font-size: 26px;
    line-height: 40px;
    -moz-transform: translateY(-160%);
    -ms-transform: translateY(-160%);
    -webkit-transform: translateY(-160%);
    transform: translateY(-160%); } }
@media (min-width: 700px) and (max-width: 800px) {
  #imagebanner .layout {
    max-height: 200px; }
  #imagebanner .bannertext {
    font-size: 40px;
    line-height: 52px;
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%); } }
@media (min-width: 800px) and (max-width: 1200px) {
  #imagebanner .bannertext {
    font-size: 40px;
    line-height: 60px;
    -moz-transform: translateY(-180%);
    -ms-transform: translateY(-180%);
    -webkit-transform: translateY(-180%);
    transform: translateY(-180%); } }
@media (min-width: 1200px) and (max-width: 1600px) {
  #imagebanner .bannertext {
    font-size: 50px;
    line-height: 60px;
    left: 25%;
    -moz-transform: translateY(-220%);
    -ms-transform: translateY(-220%);
    -webkit-transform: translateY(-220%);
    transform: translateY(-220%); } }
@media (min-width: 1600px) and (max-width: 3200px) {
  #imagebanner .bannertext {
    font-size: 50px;
    line-height: 60px;
    left: 25%;
    -moz-transform: translateY(-280%);
    -ms-transform: translateY(-280%);
    -webkit-transform: translateY(-280%);
    transform: translateY(-280%); } }

#timeline footer .elements {
  display: block; }
  #timeline footer .elements .element {
    display: inline-block; }

footer {
  color: #666666;
  height: 75px;
  margin: -16px auto 0 auto;
  background: #ffffff; }
  footer .layout {
    max-width: 1200px;
    margin: -16px auto 0 auto; }
    footer .layout .elements {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
      padding-top: 45px; }
      footer .layout .elements .element {
        font-size: 12px;
        border-right: 1px solid #666666;
        padding-right: 2%;
        margin-left: 2%;
        height: 15px;
        line-height: 17px; }
        footer .layout .elements .element.last {
          border: 0; }

@media (min-width: 0px) and (max-width: 530px) {
  footer {
    height: 60px; }
    footer .layout .elements {
      padding-top: 30px; }
      footer .layout .elements .element {
        height: auto !important; }
        footer .layout .elements .element.address {
          display: none; } }
@media (min-width: 530px) and (max-width: 700px) {
  footer {
    height: 40px; }
    footer .layout .elements {
      padding-top: 20px; }
      footer .layout .elements .element {
        height: auto !important; }
        footer .layout .elements .element.address {
          display: none; } }
@media (min-width: 700px) and (max-width: 800px) {
  footer {
    height: 110px; }
    footer .elements .element {
      height: auto !important; }
      footer .elements .element.address {
        display: none; } }
@media (min-width: 800px) and (max-width: 1200px) {
  footer .elements .element {
    font-size: .8vw; } }

.homepage .sticky {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%; }

body #home.page {
  padding: 0;
  max-width: 100%; }
  body #home.page .content {
    max-width: 100%;
    width: 100%;
    float: left; }

.home#greyheadbar #searchbox {
  top: 0;
  position: relative; }

@media (min-width: 0px) and (max-width: 530px) {
  .home#greyheadbar .layout .homepage .sticky {
    position: relative;
    bottom: 0;
    z-index: 2;
    width: 100%; } }
@media (min-width: 530px) and (max-width: 700px) {
  .home#greyheadbar .layout #searchbox {
    top: -135px; }
  .home#greyheadbar .layout .homepage .sticky {
    position: relative;
    bottom: 0;
    z-index: 2;
    width: 100%; } }
@media (min-width: 800px) and (max-width: 1200px) {
  .home#greyheadbar .layout .homepage .sticky {
    position: relative;
    bottom: 0;
    z-index: 2;
    width: 100%; } }

.story {
  margin: 2% 2% 2% 0; }
  .story:before, .story:after {
    content: '';
    display: table; }
  .story:after {
    clear: both; }
  .story.first {
    border: 0;
    margin-top: 0; }
    .story.first .right-col {
      border: 0; }
  .story .right-col {
    border-bottom: 1px dotted #323232;
    padding-bottom: 2%; }

.story-title {
  margin-bottom: 20px;
  position: relative;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZThlOWVhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(50%, #e8e9ea), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(left, #ffffff, #e8e9ea, #ffffff);
  background-image: -webkit-linear-gradient(left, #ffffff, #e8e9ea, #ffffff);
  background-image: linear-gradient(to right, #ffffff, #e8e9ea, #ffffff); }

.to-top {
  font-size: .65em;
  position: absolute;
  right: 30px; }

#timeline.page .content {
  text-align: center; }
#timeline.page #page-title {
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  text-align: center; }
#timeline .story {
  margin: 2% auto 2% auto;
  width: 70%;
  float: none; }
  #timeline .story .left-col {
    width: 50%; }
  #timeline .story .right-col {
    border-bottom: none;
    padding-bottom: 2%;
    width: 50%; }
#timeline #time-selector {
  width: 185px;
  height: 60px;
  margin: 0 auto;
  background: url("/css/images/timeselector-btn.jpg") 0 0 no-repeat transparent;
  cursor: pointer; }
  #timeline #time-selector:before, #timeline #time-selector:after {
    content: '';
    display: table; }
  #timeline #time-selector:after {
    clear: both; }
  #timeline #time-selector #time-span {
    padding-top: 15px; }
    #timeline #time-selector #time-span #time-units {
      height: 0px;
      overflow: hidden;
      border: 0;
      background: #fff;
      z-index: 1;
      position: relative;
      width: 125px;
      margin-left: 30px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      #timeline #time-selector #time-span #time-units li.last {
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px; }

.page#timeline-detail .para-head {
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  color: #666666; }
.page#timeline-detail #story-image {
  width: 74%;
  margin: 100px auto 40px auto; }
.page#timeline-detail .story {
  margin: 0 auto 0 auto;
  width: 74%; }
.page#timeline-detail #title-nav:before, .page#timeline-detail #title-nav:after {
  content: '';
  display: table; }
.page#timeline-detail #title-nav:after {
  clear: both; }
.page#timeline-detail #title-nav #nav-left {
  float: left;
  width: 13%;
  text-align: left; }
  .page#timeline-detail #title-nav #nav-left img {
    width: 70%; }
.page#timeline-detail #title-nav #title-container {
  float: left;
  width: 74%; }
.page#timeline-detail #title-nav #nav-right {
  float: left;
  width: 13%;
  text-align: right; }
  .page#timeline-detail #title-nav #nav-right img {
    width: 70%; }

.page#timeline .layout {
  padding: 0; }
  @media (min-width: 0px) and (max-width: 530px) {
    .page#timeline .layout .story {
      width: 100%; }
      .page#timeline .layout .story .left-col {
        width: 100%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%; }
      .page#timeline .layout .story .right-col {
        width: 100%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%; } }
  @media (min-width: 530px) and (max-width: 700px) {
    .page#timeline .layout .story {
      width: 100%; } }
  @media (min-width: 700px) and (max-width: 800px) {
    .page#timeline .layout .story {
      width: 90%; } }

.page#timeline-detail .layout {
  padding: 0; }
  @media (min-width: 0px) and (max-width: 530px) {
    .page#timeline-detail .layout .para-head {
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      font-size: 28px;
      line-height: 32px; } }
  @media (min-width: 530px) and (max-width: 700px) {
    .page#timeline-detail .layout .para-head {
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      font-size: 30px;
      line-height: 34px; } }
  @media (min-width: 700px) and (max-width: 800px) {
    .page#timeline-detail .layout .para-head {
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      font-size: 32px;
      line-height: 36px; } }

#events .left-col {
  width: 20%; }
#events .right-col {
  width: 80%; }
#events .story {
  margin: 0; }
  #events .story.first {
    margin-bottom: 30px;
    height: auto; }
    #events .story.first .right-col {
      border: none;
      height: auto; }
  #events .story .right-col {
    padding: 0;
    width: 77%;
    height: 120px; }
    #events .story .right-col .event-date {
      background: #c6c8ca;
      float: left;
      font-family: MuseoSans300, serif;
      font-size: 14px;
      color: #666666;
      text-align: center;
      width: 125px;
      height: 119px;
      padding: 21px 0; }
      #events .story .right-col .event-date .month {
        text-transform: uppercase; }
      #events .story .right-col .event-date .day {
        font-family: Museo-500, serif;
        font-size: 40px; }
    #events .story .right-col .event-description {
      margin-left: 150px;
      transform: translateY(50%);
      color: #333333; }
      #events .story .right-col .event-description .location {
        color: #004c87;
        font-family: Museo-500, serif;
        font-size: 1.75em; }

#event-detail .story .left-col .list-links .location {
  margin-left: 20px; }

@media (min-width: 0px) and (max-width: 530px) {
  #events .layout .right-col {
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto;
    height: auto; }
    #events .layout .right-col:after {
      content: " ";
      display: block;
      clear: both; }
    #events .layout .right-col .event-date {
      width: 25%;
      float: left;
      padding-left: 0.625%;
      padding-right: 0.625%;
      font-size: .75em; }
      #events .layout .right-col .event-date .day {
        font-size: 32px; }
    #events .layout .right-col .event-description {
      width: 68.75%;
      float: right;
      padding-left: 0.625%;
      padding-right: 0.625%;
      margin: 10px 0 0 0;
      font-size: .9em;
      top: 0;
      transform: none; }
      #events .layout .right-col .event-description .location {
        font-size: 1.25em !important; } }
@media (min-width: 530px) and (max-width: 700px) {
  #events .layout .event-date .day {
    font-size: 32px !important; }
  #events .layout .event-description .location {
    font-size: 1.25em !important; } }
@media (min-width: 700px) and (max-width: 800px) {
  #events .layout .event-date .day {
    font-size: 38px !important; }
  #events .layout .event-description .location {
    font-size: 1.25em; } }

@media (min-width: 800px) and (max-width: 1200px) {
  #event-detail .layout .story .right-col {
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto; }
    #event-detail .layout .story .right-col:after {
      content: " ";
      display: block;
      clear: both; }
    #event-detail .layout .story .right-col img {
      width: 50%;
      float: left;
      padding-left: 5%;
      padding-right: 5%;
      padding: 0; } }

.page#newsletters .story .right-col #years:before, .page#newsletters .story .right-col #years:after {
  content: '';
  display: table; }
.page#newsletters .story .right-col #years:after {
  clear: both; }
.page#newsletters .story .right-col #years .year {
  float: left;
  width: 33%;
  margin-top: 40px; }

@media (min-width: 0px) and (max-width: 530px) {
  .page#newsletters .layout .right-col #years .year {
    font-size: .85em; } }
@media (min-width: 530px) and (max-width: 700px) {
  .page#newsletters .layout .right-col {
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto; }
    .page#newsletters .layout .right-col:after {
      content: " ";
      display: block;
      clear: both; }
    .page#newsletters .layout .right-col #years {
      width: 64.0625%;
      float: right;
      padding-left: 0.15625%;
      padding-right: 0.15625%;
      text-align: right; }
      .page#newsletters .layout .right-col #years .year {
        width: 33%;
        font-size: .85em;
        text-align: left; } }

/*# sourceMappingURL=style.css.map */
